<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312779096966-uittr0qmekhrhsope3t8lvl3all13c23.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312779096966-uittr0qmekhrhsope3t8lvl3all13c23</string>
	<key>API_KEY</key>
	<string>AIzaSyDCVwWm4OlT3k40_n4ACIQPnQes8M8-mww</string>
	<key>GCM_SENDER_ID</key>
	<string>312779096966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13akash</string>
	<key>PROJECT_ID</key>
	<string>flashchat-swift-learn</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-swift-learn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312779096966:ios:58a7d1d6f314c9a130e207</string>
</dict>
</plist>